body{
  background-color: rgb(188, 188, 188);
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  }
  
  .collapse {
  height: 100px; /* Встановлюємо висоту */
  width: 100px;  /* Встановлюємо ширину */
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  }
  
  .alpha {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  border: 2px solid black;
  }
  
  .beta {
  font-weight: bold;
  font-size: 18px;    text-transform: uppercase;
  }
  
  ul {
    display: block;
  }
  
  /* Стиль для кожного блоку з курсом */
.item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Стиль для заголовка (назва курсу) */
.heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Стиль для опису (тривалість курсу) */
.description {
  font-size: 1.1rem;
  color: #555;
  margin-top: 5px;
  font-style: italic;
}

#counter {
    font-size: 32px; 
    font-weight: bold; 
    color: #4CAF50; 
    background-color: #f1f1f1;
    padding: 10px 20px; 
    border-radius: 8px; 
    display: inline-block; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s ease-in-out; 
}

#counter:hover {
    transform: scale(1.1); 
    cursor: pointer; 
}
